body {
  padding: 0px;
  font-family: Lato;
  margin: 0px;
  color: #4487BA;
  min-width: 375px;
}

#lead-in {
  background-color: #065FA3;
  color: #E0E0E0;
  height: 350px;
  font-size: 28px;
  justify-content: center;
}

#lead-in h1 {
  font-size: 125px;
  margin: auto;
}

#lead-in .right-content  {
 text-align: left;
}

#FrontPanelCanvas {
  display: inline-block;
  width: 375px;
  height: 250px;
  position: relative;
  overflow: hidden;
}

#fat-footer {
  background-color: #2B3033;
  height: 320px;
}

#footer {
  background-color: #E0E0E0;
  height: 150px;
  font-size: 11px
}

.section {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

.section-a {
  background-color: white;
  flex-wrap: wrap;
}

.section-b {
  background-color: #065FA3;
  flex-wrap: wrap-reverse;
  color: #E0E0E0;
}

.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.footer-container {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.content-item{
  width: 375px;
  height: 667px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.content-text{
  width: 375px;
  height: 100px;
  margin: auto;
}

img {
  width: 100%;
}

.placeholder-a{
  background-color: pink;
}

.placeholder-b {
  background-color: green;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar #logo {
  margin-left: 5px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-links {
  margin-left: auto;
  margin-right: 5px;

}

.nav-links li {
  display: inline-block;
  padding-left: 5px;
}

a {
  text-decoration: none;
  color: #4487BA;
}

 a:visited {
    text-decoration: none;
    color: #4487BA;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

@media (max-width: 900px) {
  #lead-in .right-content {
    /*justify-content: flex-start;*/
  }
  #lead-in h1 {
    font-size: 76px;
  }
  #lead-in {
    font-size: 18px;
  }
}


@media (max-width: 500px) {
  #lead-in .right-content {
    /*justify-content: flex-start;*/
  }
  #lead-in h1 {
    font-size: 48px;
  }
  #lead-in {
    font-size: 11px;
  }
}


/*From Web VI */
[data-ni-base-style] {
  position: relative;
}

jqx-slider[ni-control-id='28'] {
  left: 20px;
  top: 52px;
  width: 250px;
  height: 62px;
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

jqx-slider[ni-control-id='31'] {
  left: 20px;
  top: 148px;
  width: 250px;
  height: 62px;
  font-size: 12px;
  font-family: Lato,
  sans-serif; font-style:
  normal;
  font-weight: normal;
  text-decoration: none;
}

jqx-tank[ni-control-id='38'] {
  left: 300px;
  top: 52px;
  width: 75px;
  height: 152px;
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

ni-cartesian-graph[ni-control-id='64'] {
  width: 375px;
  height: 260px;
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-style: normal; font-weight: normal;
  text-decoration: none;
  color: rgba(43,48,51,1);
}
ni-cartesian-axis[ni-control-id='65'] {
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
ni-cartesian-axis[ni-control-id='66'] {
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
ni-cartesian-plot[ni-control-id='67'] {
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
