body {
  padding: 0px;
  font-family: Lato;
  margin: 0px;
  color: #E9EBEC;
  min-width: 375px;
}

h1 {
  font-size: 64px;
}

#lead-in {
  background-color: #065FA3;
  color: #E0E0E0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 5px;

}

.section-a {
  background-color: #E9EBEC;
}

.section-b {
  background-color: #C1D7E8;
}

.left-content {
  display: flex;
  justify-content: center;
  text-align: right;
  flex-direction: column;
}

.right-content{
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
}

.container{
  width: 250px;
  height: 250px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.container-a{
  background-color: pink;
}

.container-b {
  background-color: green;
}
