body {
  padding: 0px;
  font-family: Lato;
  margin: 0px;
  color: #4487BA;
  min-width: 375px;
}



#lead-in {
  background-color: #065FA3;
  color: #E0E0E0;
  height: 350px;

}



#lead-in h1 {
  font-size: 76px;
  margin: auto;
}

#lead-in .right-content  {
 text-align: left;
}

#FrontPanelCanvas {
  display: inline-block;
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  float: left;

}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.section {
  display: flex;
  justify-content: center;

  padding-bottom: 5px;
}

#graph-demo {

}

.section-a {
  background-color: white;
  flex-wrap: wrap;
}

.section-b {
  background-color: #C1D7E8;
  flex-wrap: wrap-reverse;
}

.left-content {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.right-content{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}



.container{
  width: 275px;
  height: 275px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.container img {
  width: 100%;
}

.container-a{
  background-color: pink;
}

.container-b {
  background-color: green;
}

@media (max-width: 500px) {
  #lead-in .right-content {
    /*justify-content: flex-start;*/
  }
  #lead-in h1 {
    font-size: 48px;
  }
  #lead-in {
    font-size: 13px;
  }
}
