/*Element Styles*/
body {
  padding: 0px;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  margin: 0px;
  color: #065FA3;
  min-width: 320px;
  font-size: 36px;
}

a {
  text-decoration: none;
  color: #02B09E
}

 a:visited {
    text-decoration: none;
    color: #02B09E
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

img {
  width: 100%;
  padding-top: 10px;
}

h1 {
  font-size: 210px;
  font-weight: bold;
  margin: auto;
}

h2 {
  font-size: 63px;
  font-weight: bold;
}

h3 {
  font-size: 36px;
}

/*ID Styles*/
#logo {
  margin-left: 5px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#hero {
  font-size: 46px;
  justify-content: center;

}

#hero .content-text-b {
  margin-right: 0px;
}


#hero .right-content  {
 text-align: left;
}

#fat-footer {
  background-color: #2B3033;
  align-items: baseline;
  color: #02B09E;
  border: none;
  font-size: 24px;
  flex-wrap: wrap;
}

#fat-footer h2 {
  margin: 0px;
  font-size: 36px;
}

#fat-footer  a {
  text-decoration: none;
  color: #02B09E;
}

#fat-footer  a:visited {
    text-decoration: none;
    color: #02B09E;
}

#fat-footer a:hover {
    text-decoration: underline;
}

#fat-footer  a:active {
    text-decoration: underline;
}

#footer {
  background-color: #E0E0E0;
  color: #065FA3;
  font-size: 12px;
  justify-content: flex-start;
  text-align: left;
  border: none;
}


/*Class Styles*/
.primary-content {
  padding-left: 25px;
  padding-right: 25px;
  background-image: url(background-grid.png);
  background-repeat: repeat;
  max-width: 1440px;
  margin: auto;
}

.section {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-bottom: 10px solid #02B09E;;
}

.section a {
  text-decoration: none;
  color: #065FA3;
}

.section a:visited {
    text-decoration: none;
    color: #065FA3;
}

.section a:hover {
    text-decoration: underline;
}

.section a:active {
    text-decoration: underline;
}

.section-a {
  flex-wrap: wrap-reverse;
  border-right: 10px solid #02B09E;
  text-align: right;
}

.section-b {
  flex-wrap: wrap;
  border-left: 10px solid #02B09E;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-container {
  display: flex;
  text-align: left;
  padding: 10px;
}

.content {
  min-width: 300px;
  max-width: 720px;
}

.content-item{
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.content-img{
  max-width: 300px;
}

.content-img-solo {
  max-width: 500px;
}

.content-text {
  margin-top: 0px;
  margin-bottom: 0px;
  height: auto;
}

.content-text-a {
    margin-left: auto;
    margin-right: 0px;
}

.content-text-b {
    margin-left: 0px;
    margin-right: auto;
}

.front-panel {
    display: inline-block;
    height: 667px;
    position: relative;
    font-family: inherit;
    text-align: inherit;
    overflow: hidden;
}

.nav-bar {
  display: flex;
  align-items: center;
  background-color: #1B1C3D;
  font-size: 18px;
}

.nav-links {
  margin-left: auto;
  margin-right: 5px;

}

.nav-links li {
  display: inline-block;
  padding-left: 5px;
}

.spacer {
  height: 25px;
  border-bottom: none;
}

.placeholder-a{
  background-color: pink;
}

.placeholder-b {
  background-color: green;
}

/*Styles From Web VI */
[data-ni-base-style] {
  position: relative;
}

jqx-slider[ni-control-id='28'] {
  /*left: 0px;
  top: 450px;*/
  width: 250px;
  height: 62px;
  font-size: 12px;
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

jqx-slider[ni-control-id='31'] {
  /*left: 0px;
  top: 575px;*/
  width: 250px;
  height: 62px;
  font-size: 12px;
  font-family: Roboto Condensed,
  sans-serif; font-style:
  normal;
  font-weight: normal;
  text-decoration: none;
}

jqx-tank[ni-control-id='38'] {
  /*left: 250px;
  top: 450px;*/
  width: 75px;
  height: 200px;
  font-size: 12px;
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

ni-cartesian-graph[ni-control-id='64'] {
    /*left: 0px;
    top: 0px;*/
    width: 320px;
    height: 667px;
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: rgba(43, 48, 51, 1);
}
ni-cartesian-axis[ni-control-id='65'] {
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
ni-cartesian-axis[ni-control-id='66'] {
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
ni-cartesian-plot[ni-control-id='67'] {
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
ni-cartesian-plot[ni-control-id='213'] {
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
ni-cursor[ni-control-id='211'] {
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
ni-cursor[ni-control-id='212'] {
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
/*ni-scale-legend[ni-control-id='71'] {
    left: 0px;
    top: 0px;
    width: 150px;
    height: 60px;
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
ni-plot-legend[ni-control-id='72'] {
    left: 0px;
    top: 0px;
    width: 150px;
    height: 52px;
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
ni-cursor-legend[ni-control-id='73'] {
    left: 0px;
    top: 0px;
    width: 375px;
    height: 120px;
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
ni-graph-tools[ni-control-id='74'] {
    left: 0px;
    top: 0px;
    width: 152px;
    height: 30px;
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    background-color: white;
}*/
/*ni-gauge[ni-control-id='90'] {
    left: 0px;
    top: 25px;
    width: 250px;
    height: 250px;
    font-size: 12px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}*/
/*jqx-circular-progress-bar[ni-control-id='95'] {
    left: 0px;
    top: 25px;
    width: 250px;
    height: 250px;
}*/
jqx-numeric-text-box[ni-control-id='100'] {
    /*left: 0px;
    top: 359px;*/
    width: 150px;
    height: 40px;
    font-size: 24px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

/*jqx-numeric-text-box[ni-control-id='103'] {
  left: 170px; top: 359px; width: 150px; height: 40px; font-size: 24px; font-family: Roboto Condensed, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}*/

/*ni-data-grid[ni-control-id='112'] {
  left: -20px;
  top: 350px;
  width: 250px;
  height: 253px;
  font-size: 12px;
  font-family: Segoe UI, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

ni-string-control[ni-control-id='114'] {
  font-size: 12px; font-family: Roboto Condensed, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}
jqx-led[ni-control-id='149'] {
  font-size: 12px; font-family: Roboto Condensed, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}*/

jqx-slider[ni-control-id='129'] {
    /*left: 270px;
    top: 0px;*/
    width: 56px;
    height: 296px;
    font-size: 12px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

jqx-led[ni-control-id='228'] {
    /*left: 1109px;
    top: 484px;*/
    width: 72px;
    height: 72px;
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
jqx-gauge[ni-control-id='90'] {
    /*left: 578px;
    top: 324px;*/
    width: 290px;
    height: 290px;
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

/*JQX Overrides*/
/*Fix progress bar position */
/*jqx-circular-progress-bar svg:first-of-type {
    position: relative;
  }*/

/*Change tank fill color*/
jqx-tank .jqx-value {
    background-color: #4487BA;
}

jqx-led[ni-control-id='228'] .jqx-true-content-container{
  background: rgba(67,134,185,1)
}

/*jqx-circular-progress-bar .jqx-value {
    stroke: #4487BA;
}*/

/*Fix text input styling on iOS*/
jqx-numeric-text-box input.jqx-numeric-text-box-component {
    -webkit-appearance:none;
    border-radius: 0px;
}

jqx-gauge {
  display: block;
  position: relative;
}

jqx-slider {
  display: block;
  position: relative;
}

jqx-numeric-text-box {
  display: block;
  position: relative;
}

jqx-tank {
  display: block;
  position: relative;
}

jqx-led {
  display: block;
  position: relative;
}




/*Overrides for viewports */

@media (max-width: 1440px) {
  #hero {
    font-size: 28px;
    justify-content: center;
  }

  h1 {
    font-weight: bold;
    margin: auto;
  }
}

/*Tablets*/
@media (max-width: 1024px) {
  body {
    font-size: 24px;
  }

  h1 {
    font-size: 125px;
  }

  h2 {
    font-size: 42px;
  }

  #hero {
    font-size: 20px;
  }
  #fat-footer {
    font-size: 20px;
  }
}

/*Phones*/
@media (max-width: 425px) {
  body {
    font-size: 18px;
  }
  h2 {
    font-size: 24px;
  }

  h1 {
    font-size: 48px;
  }
  #hero {
    /*font-size: 11px;*/
  }

  #hero .content-text-b {
       margin-right: auto;
  }

  #fat-footer {
    font-size: 11px;
    flex-direction: column;
  }
  #fat-footer h2 {
    margin: 0px;
    font-size: 24px;
  }

  .primary-content {
    padding-left: 5px;
    padding-right: 5px;
  }

  .section {
    /*display: flex;*/
    padding-left: 5px;
    padding-right: 5px;
    /*justify-content: space-around;*/
    padding-bottom: 5px;
    border-bottom: 5px solid #02B09E;;
  }

  .section-a {
    /*flex-wrap: wrap-reverse;*/
    border-right: 5px solid #02B09E;
    /*text-align: right;  /*TODO should this be moved to content or container?*/*/
  }

  .section-b {
    /*flex-wrap: wrap;*/
    border-left: 5px solid #02B09E;
    /*text-align: left;*/
  }

  .spacer {
    border-bottom: none;
  }

  jqx-slider[ni-control-id='28'] {
    width: 200px;
  }

  jqx-slider[ni-control-id='31'] {
    width: 200px;
  }

  jqx-tank[ni-control-id='38'] {
    left: 215px;
  }

  jqx-numeric-text-box[ni-control-id='100'] {
    width: 125px;
  }

  jqx-numeric-text-box[ni-control-id='103'] {
    width: 125px;
    left: 150px;
  }

  ni-gauge[ni-control-id='90'] {
    top: 0px;
  }

  jqx-slider[ni-control-id='129'] {
    left: 240px;
    height: 235px;
  }

  jqx-circular-progress-bar[ni-control-id='95'] {
    width: 225px;
    height: 225px;
    top: 0px;
  }

  jqx-slider[ni-control-id='132'] {
    left: 225px;
    height: 230px;
  }
}
