/*Element Styles*/
body {
  padding: 0px;
  /*font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;*/
  font-family: 'Questrial', sans-serif;
  margin: 0px;
  color: #065FA3;
  min-width: 320px;
  font-size: 36px;
}

a {
  text-decoration: none;
  color: #02B09E
}

 a:visited {
    text-decoration: none;
    color: #02B09E
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

img {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

h1 {
  font-size: 210px;
  font-weight: bold;
  margin: auto;
}

h2 {
  font-size: 60px;
  font-weight: bold;
}

h3 {
  font-size: 36px;
}

/*ID Styles*/
#logo {
  margin-left: 5px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#hero {
  font-size: 46px;
  justify-content: center;

}

#hero .content-text-b {
  margin-right: 0px;
}


#hero .right-content  {
 text-align: left;
 justify-content: center;
}

#fat-footer {
  background-color: #2B3033;
  align-items: baseline;
  color: #02B09E;
  border: none;
  font-size: 24px;
  flex-wrap: wrap;
}

#fat-footer h2 {
  margin: 0px;
  font-size: 36px;
}

#fat-footer  a {
  text-decoration: none;
  color: #02B09E;
}

#fat-footer  a:visited {
    text-decoration: none;
    color: #02B09E;
}

#fat-footer a:hover {
    text-decoration: underline;
}

#fat-footer  a:active {
    text-decoration: underline;
}

#footer {
  background-color: #E0E0E0;
  color: #065FA3;
  font-size: 12px;
  justify-content: flex-start;
  text-align: left;
  border: none;
}

/*TODO consolidate into class*/
#fp-ctl-a {
    display: flex;
    justify-content: center;
}

#fp-ctl-b {
  display: flex;
  justify-content: center;
}

#fp-ctl-b-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

#fp-ctl-b-right {
  display: inline-flex;
}

/*Class Styles*/
.primary-content {
  padding-left: 25px;
  padding-right: 25px;
  background-image: url(background-grid.png);
  background-repeat: repeat;
  max-width: 1440px;
  margin: auto;
}

.section {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-bottom: 10px solid #02B09E;;
}

.section a {
  text-decoration: none;
  color: #065FA3;
}

.section a:visited {
    text-decoration: none;
    color: #065FA3;
}

.section a:hover {
    text-decoration: underline;
}

.section a:active {
    text-decoration: underline;
}

.section-a {
  flex-wrap: wrap-reverse;
  border-right: 10px solid #02B09E;
  text-align: right;
}

.section-b {
  flex-wrap: wrap;
  border-left: 10px solid #02B09E;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  text-align: left;
  padding: 10px;
}

.content-duo {
    min-width: 600px;
}

.content-trio {
  min-width: 300px;
  max-width: 420px;
}

.content-item{
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.content-img{
  max-width: 300px;
  margin: auto;
}

.content-img-solo {
  max-width: 500px;
}

.content-text {
  margin-top: 0px;
  margin-bottom: 0px;
  height: auto;
}

.content-text-a {
    margin-left: auto;
    margin-right: 0px;
}

.content-text-b {
    margin-left: 0px;
    margin-right: auto;
}

.front-panel {
    display: inline-flex;
    height: 520px;
    position: relative;
    font-family: inherit;
    text-align: inherit;
}

.nav-bar {
  display: flex;
  align-items: center;
  background-color: #1B1C3D;
  font-size: 18px;
}

.nav-links {
  margin-left: auto;
  margin-right: 5px;
}

.nav-links li {
  display: inline-block;
  padding-left: 5px;
}

.spacer {
  height: 25px;
  border-bottom: none;
}

.placeholder-a{
  background-color: pink;
}

.placeholder-b {
  background-color: green;
}

/*Styles From Web VI */
[data-ni-base-style] {
  position: relative;
}

jqx-slider[ni-control-id='28'] {
  width: 100%;
  height: 62px;
  font-size: 12px;
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
}

jqx-slider[ni-control-id='31'] {
  width: 250px;
  height: 62px;
  font-size: 12px;
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
}

jqx-tank[ni-control-id='38'] {
  width: 150px;
  height: 300px;
  font-size: 12px;
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

ni-cartesian-graph[ni-control-id='64'] {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: rgba(43, 48, 51, 1);
}

ni-cartesian-axis[ni-control-id='65'] {
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

ni-cartesian-axis[ni-control-id='66'] {
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

ni-cartesian-plot[ni-control-id='67'] {
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

ni-cartesian-plot[ni-control-id='213'] {
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

ni-cursor[ni-control-id='211'] {
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

ni-cursor[ni-control-id='212'] {
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

jqx-numeric-text-box[ni-control-id='100'] {
    /*left: 0px;
    top: 359px;*/
    width: 90%;
    height: 40px;
    font-size: 24px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

jqx-slider[ni-control-id='129'] {
    width: 56px;
    height: 300px;
    font-size: 12px;
    font-family: Roboto Condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

jqx-led[ni-control-id='228'] {
    width: 72px;
    height: 72px;
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
jqx-gauge[ni-control-id='90'] {
    width: 80%;
    font-size: 12px;
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

/*JQX Overrides*/

/*Change tank fill color*/
jqx-tank .jqx-value {
    background-color: #4487BA;
}

jqx-led[ni-control-id='228'] .jqx-true-content-container{
  background: rgba(67,134,185,1)
}

/*Fix text input styling on iOS*/
jqx-numeric-text-box input.jqx-numeric-text-box-component {
    -webkit-appearance:none;
    border-radius: 0px;
}

jqx-gauge {
  display:  inline-block;
  position: relative;
  /*float: left;*/
  flex: none;
}

jqx-slider {
  display: inline-block;
  position: relative;
}

jqx-numeric-text-box {
  display: block;
  position: relative;
}

jqx-tank {
  display: block;
  position: relative;
}

jqx-led {
  display: block;
  position: relative;
}


/*Overrides for viewports */

@media (max-width: 1440px) {
  #hero {
    justify-content: center;
  }

  h1 {
    font-weight: bold;
    margin: auto;
  }
}

/*Tablets*/
@media (max-width: 1024px) {
  body {
    font-size: 26px;
  }

  h1 {
    font-size: 125px;
  }

  h2 {
    font-size: 42px;
  }

  #hero {
    font-size: 20px;
  }

  #fat-footer {
    font-size: 20px;
  }

  .content-duo {
    min-width: 480px;
  }
}

/*Small Tablet*/
@media (max-width: 1024px) {
  h1 {
      font-size: 105px;
  }

  #hero {
    font-size: 22px;
  }
}

/*Phones*/
@media (max-width: 425px) {
  body {
    font-size: 18px;
  }

  h2 {
    font-size: 24px;
  }

  h1 {
    font-size: 76px;
  }

  #hero {
      font-size: 18px;
  }

  #hero .content-text-b {
       margin-right: auto;
  }

  #fat-footer {
    font-size: 11px;
    flex-direction: column;
  }

  #fat-footer h2 {
    margin: 0px;
    font-size: 24px;
  }

  .primary-content {
    padding-left: 5px;
    padding-right: 5px;
  }

  .section {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-bottom: 5px solid #02B09E;;
  }

  .section-a {
    border-right: 5px solid #02B09E;
  }

  .section-b {
    border-left: 5px solid #02B09E;
  }

  .content-duo {
    min-width: 300px;
    max-width: 680px;
  }

  .spacer {
    border-bottom: none;
  }

  jqx-slider[ni-control-id='129'] {
    /*left: 240px;*/
    height: 245px;
  }
}
