/***********************************/
/*Element Styles*/
/***********************************/
body {
  padding: 0px;
  font-family: 'Questrial', sans-serif;
  margin: 0px;
  color: #065FA3;
  min-width: 320px;
  font-size: 36px;
  background-image: url(background-grid.png);
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: #02B09E
}

 a:visited {
    text-decoration: none;
    color: #02B09E
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

img {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
}

video {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

h1 {
  /*font-size: 200px;*/
  font-size: 138px;
  font-weight: bold;
  margin: auto;
}

h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
}

h3 {
  font-size: 36px;
}
/***********************************/
/*ID Styles*/
/***********************************/
#logo {
  margin-left: 5px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#hero {
  font-size: 36px;
  justify-content: center;
  height: 440px;
}

#hero .content-text-b {
  margin-right: 0px;
}

#hero .right-content  {
 text-align: left;
 justify-content: center;
}

#fat-footer {
  background-color: #1B1C3D;
  align-items: baseline;
  color: #02B09E;
  border: none;
  font-size: 24px;
  flex-wrap: wrap;
}

#fat-footer h2 {
  margin: 0px;
  font-size: 36px;
}

#fat-footer  a {
  text-decoration: none;
  color: #02B09E;
}

#fat-footer  a:visited {
    text-decoration: none;
    color: #02B09E;
}

#fat-footer a:hover {
    text-decoration: underline;
}

#fat-footer  a:active {
    text-decoration: underline;
}

#footer {
  background-color: #E0E0E0;
  color: #065FA3;
  font-size: 12px;
  justify-content: flex-start;
  text-align: left;
  border: none;
}

#device-images {
  align-items: center;
}

#laptop-img {
  width: 300px;
  height: 160px;
}

#tablet-img {
  width: 207px;
  height: 138px;
}

#phone-img {
  width: 62px;
  height: 122px;
}







/***********************************/
/*Class Styles*/
/***********************************/
.primary-content {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1440px;
  margin: auto;
}

.section {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-bottom: 10px solid #02B09E;
}

.section a {
  text-decoration: none;
  color: #065FA3;
}

.section a:visited {
    text-decoration: none;
    color: #065FA3;
}

.section a:hover {
    text-decoration: underline;
}

.section a:active {
    text-decoration: underline;
}

.section-a {
  flex-wrap: wrap-reverse;
  border-right: 10px solid #02B09E;
  text-align: right;
}

.section-b {
  flex-wrap: wrap;
  border-left: 10px solid #02B09E;
  text-align: left;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.footer-container {
  display: flex;
  text-align: left;
  padding: 10px;
}

.content-duo {
    width: 50%;
}

.content-trio {
  min-width: 300px;
  max-width: 420px;
}

.content-img{
  max-width: 300px;
  margin: auto;
}

.content-img-solo {
  max-width: 500px;
}

.content-text {
  margin-top: 0px;
  margin-bottom: 0px;
  height: auto;
}

.content-text-a {
    margin-right: 0px;
}

.content-text-b {
    margin-left: 0px;
    margin-right: auto;
}

.front-panel {
    display: inline-flex;
    height: 600px;
    position: relative;
    align-items: center;
}

.nav-bar {
  display: flex;
  align-items: center;
  background-color: #1B1C3D;
  font-size: 18px;
}

.nav-links {
  margin-left: auto;
  margin-right: 5px;
}

.nav-links li {
  display: inline-block;
  padding-left: 5px;
}

.spacer {
  height: 25px;
  border-bottom: none;
}

.mobile-only {
  display: none;
}

.pc-display-none {
  display: block;
}

/*********************************/
/*Styles From Web VI */
/*********************************/
[data-ni-base-style] {
  position: relative;
}

jqx-slider[ni-control-id='28'] {
  width: 90%;
  height: 62px;
  font-size: 20px;
  font-family: 'Questrial', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
}

ni-cartesian-graph[ni-control-id='64'] {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: rgba(43, 48, 51, 1);
}

ni-cartesian-axis[ni-control-id='65'] {
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

ni-cartesian-axis[ni-control-id='66'] {
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

ni-cartesian-plot[ni-control-id='67'] {
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

ni-cartesian-plot[ni-control-id='213'] {
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

ni-graph-tools[ni-control-id='74'] {
    display: none;
    position: relative;
    width: 120px;
    height: 30px;
    font-size: 12px;
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    align-self: flex-start;
}

ni-cursor[ni-control-id='211'] {
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

ni-cursor[ni-control-id='212'] {
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

jqx-numeric-text-box[ni-control-id='100'] {
    width: 50%;
    height: 50px;
    font-size: 30px;
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    margin-right: 60px;
}

jqx-slider[ni-control-id='129'] {
    width: 300px;;
    height: 56px;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    padding-top: 35px;
}

jqx-led[ni-control-id='228'] {
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    margin-left: 60px;
    margin-right: auto;
}
jqx-gauge[ni-control-id='90'] {
    width: 300px;
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    margin-top: 30px;
}
/***********************************/
/*JQX Overrides*/
/***********************************/
jqx-slider .jqx-value {
    background-color: #02B09E;
}

jqx-slider .jqx-thumb {
  background-color: #1B1C3D;
}

jqx-slider .jqx-track:hover {
  outline-color: #02B09E;
}

jqx-gauge .jqx-value {
    fill: #02B09E;
}

jqx-numeric-text-box {
  font-family: 'Questrial', sans-serif;
}

jqx-numeric-text-box .jqx-spin-button:active {
    background-color: #1B1C3D;
}

jqx-numeric-text-box input.jqx-numeric-text-box-component:hover {
    border-color: #02B09E;
}

jqx-numeric-text-box .jqx-arrow-up:hover:after, jqx-numeric-text-box .jqx-arrow-down:hover:after {
    color: #02B09E;
}

jqx-led[ni-control-id='228'] .jqx-true-content-container{
    background: #02B09E;
}

jqx-led:hover {
    border-color: #02B09E;
}

/*Fix text input styling on iOS*/
jqx-numeric-text-box input.jqx-numeric-text-box-component {
    -webkit-appearance:none;
    border-radius: 0px;
}

/*Set JQX elements to relative position*/
jqx-gauge, jqx-slider, jqx-numeric-text-box, jqx-led {
  position: relative;
}

/**************************************/
/*Desktop*/
/**************************************/
@media (max-width: 1440px) {
  #hero {
    justify-content: center;
  }

  h1 {
    font-weight: bold;
    margin: auto;
  }
}

/**************************************/
/*Laptop*/
/**************************************/
@media (max-width: 1024px) {
  body {
    font-size: 26px;
  }

  h1 {
    font-size: 96px;
  }

  h2 {
    font-size: 42px;
  }

  #hero {
    font-size: 26px;
    height: 240px;
  }

  #fat-footer {
    font-size: 20px;
  }

  .content-duo {
    width: 100%;
  }

  .content-text-a {
      margin-left: auto;
      margin-right: 0px;
  }

  .laptop-display-none {
    display: none;
  }
}

/**************************************/
/*Tablet*/
/**************************************/
@media (max-width: 768px) {
  h1 {
      font-size: 54px;
  }

  #hero {
    font-size: 14px;
    height: 200px;
  }

.tablet-display-none {
  display: none;
}

/**************************************/
/*Phone*/
/**************************************/
@media (max-width: 425px) {
  body {
    font-size: 18px;
  }

  h2 {
    font-size: 24px;
  }

  h1 {
    font-size: 76px;
  }

  #hero {
      font-size: 18px;
      height: auto;
  }

  #hero .content-text-b {
       margin-right: auto;
  }

  #fat-footer {
    font-size: 11px;
    flex-direction: column;
  }

  #fat-footer h2 {
    margin: 0px;
    font-size: 24px;
  }

  .primary-content {
    padding-left: 5px;
    padding-right: 5px;
  }

  .section {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-bottom: 5px solid #02B09E;
  }

  .section-a {
    border-right: 5px solid #02B09E;
  }

  .section-b {
    border-left: 5px solid #02B09E;
  }

  .content-duo {
    max-width: 680px;
    width: 100%
  }

  .spacer {
    border-bottom: none;
  }

  .mobile-display-none {
    display: none;
  }

  jqx-led[ni-control-id='228'] {
      margin-right: auto;
      margin-left: 10px;
  }

  jqx-numeric-text-box[ni-control-id='100'] {

      margin-right: 10px;
      margin-left: auto;
  }
}
